/* AppComponent's private CSS styles */
div{
  font-size: 40px;
  text-align: center;
}
nav{
  height: 50px;
  background-color: aquamarine;
}
.container{
  
  float: right;
}
nav a {
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 3px;
  border-top: 100%;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a:active {
  background-color: black;
}