button{
    float: right;
}
body {
    background-image: url('https://images.hindustantimes.com/img/2023/01/18/550x309/Tips_for_maintaining_a_healthy_work-life_balance_1674045852794_1674045853158_1674045853158.jpg"');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }